.bg-gradient-to-r {
    background-image: linear-gradient(to left, rgba(123, 93, 250, 0.9) 0%, rgba(123, 93, 250, 0.33) 100%);
}

.from-custom-blue-90 {
    background-color: rgba(123, 93, 250, 0.9);
}

.to-custom-blue-33 {
    background-color: rgba(123, 93, 250, 0.33);
}



@media (width >= 768px){
    .maingrid{
        display: grid;
        grid-template-areas: "pirveli meore mesame meotxe"
                             "mexute meeqvse meshvide merve";
    }

    .irakli{
        grid-area: pirveli;
    }

    .giorgi{
        grid-area: meore;
    }

    .bidzina{
        grid-area: mesame;
    }

    .ana{
        grid-area: meotxe;
    }

    .daviti{
        grid-area: mexute;
    }

    .dachi{
        grid-area: meeqvse;
    }

    .sandro{
        grid-area: meshvide;
    }

    .iza{
        grid-area: merve;
    }
}

@media (width >= 850px){
    .medium{
        column-gap: 75px;
    }
    .medium2{
        max-width: 750px;
    }
}